# redis 相关配置
redis_server_host=localhost
redis_server_port=6379
redis_server_db=1

# mysql 相关配置
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DATABASE=aiChat

# nodemailer 相关配置
nodemailer_host=smtp.qq.com
nodemailer_port=587
nodemailer_auth_user=2967559947@qq.com
# QQ 邮箱的 SMTP 授权码
nodemailer_auth_pass=jiszqqxzlgqpdcdb

# LangSmith 相关配置
LANGSMITH_API_URL=https://api.smith.langchain.com
LANGSMITH_PROJECT_NAME=ai-chat-project
# 还没注册，暂时关掉，恢复改为true
LANGSMITH_TRACING=false

# LangGraph 相关配置
LANGGRAP_ENABLE_CHECKPOINTING=true
LANGGRAP_DEFAULT_WORKFLOW_TIMEOUT=300000

# LLM 相关配置
LLM_API_KEY=sk-839c413f949049918615290813173f2f
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
